section{
    background: url("../../../assets/bg.png");
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: -5;

    #back-arrow{
        position: fixed;
        top: 20px;
        left: 20px;
    }
    #versus{
        color: white;
        font-size: 220px;
        transform: rotateZ(-5deg);
        position: fixed;
        top: 35%;
        left: 35%;
        z-index: 0;
    }
    #rdmChamp{
        position: fixed;
        right: 20px;
        bottom: 0;
    }
    app-champselect{
        position: fixed;
        left: 40px;
        bottom: 20px;
    }
}
